html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

header.header-news {
    min-height: 18rem;
    display: flex;
}

header.header-news > div {
    flex: 1 0 0;
}
